<div class="top-margin">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="alert alert-danger" *ngIf="error.length > 0" style="width: 100%">
        <strong>Error Message: </strong> {{error}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h1>Login</h1>
        </div>

        <hr />

        <div class="panel-body">

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user" style="width: auto"></i>
              </span>
              <input [(ngModel)]="username" runat="server" type="text" class="form-control" name="user" placeholder="Username" required="" />
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock" style="width: auto"></i>
              </span>
              <input [(ngModel)]="password" runat="server" type="password" class="form-control" name="password" placeholder="Password" required="" />
            </div>
          </div>

          <button id="btnLogin" runat="server" class="btn btn-lg btn-info" style="width: 100%" (click)="doLogin()" ng-disabled="query">
            {{query ? "Please Wait..." : "Login"}}<i class="glyphicon glyphicon-log-in"></i>
          </button>

        </div>
      </div>

    </div>
  </div>

</div>

