<div class="top-margin">
    <h2> Duck Feed Data </h2>
  <div *ngIf="feedData">
      <table class="table table-striped" >
          <thead>
            <tr>
              <th>Country</th>
              <th>Park Name</th>
              <th>Number of Ducks</th>
              <th>Time</th>
              <th>Food Item</th>
              <th>Type of Food</th>
              <th>Amount of Food</th>
              <th>Mass</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor = "let data of feedData">
              <td>{{data.country}}</td>
              <td>{{data.parkName}}</td>
              <td>{{data.numberOfDucks}}</td>
              <td>{{data.time}}</td>
              <td>{{data.foodItem}}</td>
              <td>{{data.typeOfFoodItem}}</td>
              <td>{{data.amountOfFood}}</td>
              <td>{{data.mass}}</td>
            </tr>
          </tbody>
        </table>
  </div>   

</div>
