<div class="top-margin">
  <div class="col-md-6 offset-md-3">
    <div class="row">
      <div class="alert alert-danger" *ngIf="error.length > 0" style="width: 100%">
        <strong>Error Message: </strong> {{error}}
      </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="col-md-6 offset-md-3">
      <div class="panel-heading">
        <h1>Feed Statistics of Ducks</h1>
      </div>
    
      <hr />
    </div>
    
    <div class="form-row bottom-buffer">
      <div class="col-md-4 offset-md-2">
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="country" placeholder="Country" required>
          </mat-form-field> 
      </div>

      <div class="col-md-4">
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="parkName" placeholder="Park Name" required>
          </mat-form-field>
      </div>

      <div class="w-100 top-buffer"></div>

      <div class="col-md-4 offset-md-2">
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="numberOfDucks" placeholder="Number of Ducks" required>
          </mat-form-field>
      </div>

      <div class="w-100 top-buffer"></div>

      <div class="col-md-4 offset-md-2">
          <label for="timeFed">Date & Time: </label>
          <ngb-timepicker [(ngModel)]="time" (ngModelChange)="onTimeChange($event)"></ngb-timepicker>
      </div>

      <div class="w-100 top-buffer"></div>

      <div class="col-md-4 offset-md-2">
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="foodItem" placeholder="Food Item" required>
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <label for="foodType">Type of Food Item: </label>
          <select id="foodType" [(ngModel)]="selectedType" class="control">
            <option *ngFor="let t of typeOfFood" [value]="t"> {{t}} </option>
          </select>
      </div>

      <div class="w-100 top-buffer"></div>

      <div class="col-md-4 offset-md-2">
          <mat-form-field class="example-full-width">
              <input matInput [(ngModel)]="amountOfFood" placeholder="Amount of Food" required>
          </mat-form-field>
      </div>
      <div class="col-md-4">
          <label for="mass">Mass: </label>
          <select id="mass" [(ngModel)]="selectedMass" class="control">
            <option *ngFor="let m of mass" [value]="m"> {{m}} </option>
          </select>
      </div>

    </div>  

    

    <div class="text-center">
        <button type="submit" class="btn btn-info btn-lg" (click)="submit()">Submit</button>
    </div>

  </div>
</div>
  